# Controle de versão
.git
.gitignore
.github

# Arquivos de build
target/
build/
*.class
*.jar
*.war
*.ear

# Arquivos de IDE
.idea/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project
.vscode/

# Arquivos de ambiente
.env
.env.*
!.env.example
application-*.properties
application-*.yml
!application.properties
!application.yml

# Arquivos de desenvolvimento
README.md
HELP.md
mvnw
mvnw.cmd
.mvn/

# Outros
.DS_Store
*.log
*.swp
*.swo
terraform/
k8s/
docs/
**/*.test.java 