<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- Você pode manter ou adicionar campos específicos do MDC se precisar -->
            <!-- <includeMdcKeyName>conversationId</includeMdcKeyName> -->
        </encoder>
    </appender>

    <!-- O root logger agora usa apenas o appender JSON para todos os ambientes -->
    <root level="INFO">
        <appender-ref ref="CONSOLE_JSON" />
    </root>

    <!-- Configurações específicas para pacotes podem ser mantidas -->
    <logger name="br.com.urbana.connect" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE_JSON" />
    </logger>
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.data.mongodb" level="INFO" />
    <logger name="org.mongodb" level="WARN" />

</configuration> 